{% macro card(title, description) %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ title }}</div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ description }}</p>
        </div>
    </div>
{% endmacro %}