{% set page="courses" %}
{% extends "base.njk" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <nav class="nav nav-pills flex-column">
                    {% for course in courses %}
                        <a class="nav-link {% if selectedCourse.title == course.title %}active{% endif %}" href="/courses/{{ course.title }}">{{ course.title }}</a>
                    {% endfor %}
                </nav>
                <a href="/courses/{{ course.title }}">{{ course.title }}</a>
            </div>
            <div class="col">
                <ul class="list-group">
                    {% for outcome in selectedCourse.outcomes %}
                        <li class="list-group-item">{{ outcome.ref }}
                            {{ outcome.description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, { // customised options • auto-render specific keys, e.g.:
                delimiters: [
                    {
                        left: '$$',
                        right: '$$',
                        display: true
                    }, {
                        left: '$',
                        right: '$',
                        display: false
                    }, {
                        left: '\\(',
                        right: '\\)',
                        display: false
                    }, {
                        left: '\\[',
                        right: '\\]',
                        display: true
                    }
                ],
                // • rendering keys, e.g.:
                throwOnError: false
            });
        });
    </script>
{% endblock %}