{% set page="index" %}
{% extends "base.njk" %}
{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Diagnose your physics.</h1>
                <p>One question. Four options. Confidence rating.</p>
                <p>Find out how much your classes really understand. Reveal misconceptions.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">
                        <img
                            width="20px"
                            style="margin-bottom:3px; margin-right:5px"
                            alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                    Sign in with Google »</a>
                </p>
            </div>
        </div>
        <div
            class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
                        euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                        amet risus.</p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">View details »</a>
                    </p>
                </div>
            </div>
            <hr></div>
        </main>
    {% endblock %}