{% extends "base.njk" %}
{% block content %}
    <div class="container-sm">
        <div class="row justify-content-center py-5">
            <div class="col p-5 bg-light rounded-3" style="max-width: 450px;">
                <h1>Log in
                </h1>
                {% if (error) %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ error }}</div>
                {% endif %}
                <form action="/auth/login/password" method="POST">
                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="inputUsername"/>
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword"/>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <a class="btn btn-light border" href="/auth/login/federated/google" role="button" style="text-transform:none">
                            <img
                                width="20px"
                                style="margin-bottom:3px; margin-right:5px"
                                alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            Sign in with Google
                        </a>
                        <a href="/register" role="button" class="btn btn-secondary" id="registerButton">Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div></div>{% endblock %}