{% set title="Submit Your Result!" %}
{% extends "base.njk" %}
{% block head %}
    {{ super() }} <link rel="stylesheet" href="/css/poll.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <script></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="question">
            <div class="body">
                {{ parse(q.body) | safe }}
            </div>
            <form class="options" action="" method="post">
                {% for option in q.options %}
                    <input id="option-{{ loop.index }}" class="student-option" type="radio" value="{{ option }}" name="options" aria-label="radio"/>
                    <label for="option-{{ loop.index }}">{{ option }}</label>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}