{% set title="Submit Your Result!" %}
{% extends "base.njk" %}
{% block head %}
    {{ super() }} <link rel="stylesheet" href="/css/poll.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="question">
            <div class="body">
                {{ parse(q.body) | safe }}
            </div>
            <div class="options">
                {% for option in q.options %}
                    <div class="input-group mb-3">
                        <input name="options" type="text" class="form-control" aria-label="Text input with checkbox" value="{{ option }}"/>
                        <div class="input-group-text" value="">
                            {% if q.correct and q.correct.includes(option) %}
                                <input class="form-check-input mt-0" type="radio" value="{{ option }}" name="correct" aria-label="Checkbox for following text input" checked/>
                            {% else %}
                                <input class="form-check-input mt-0" type="radio" value="{{ option }}" name="correct" aria-label="Checkbox for following text input"/>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}