{% extends "base.njk"%}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Oops.</h2>
            <p>Sorry, but there's no open poll here</p>
            <p>
                Did you enter the url correctly?</p>
        </div>
    </div>
{% endblock %}