{% set page="questions" %}
{% extends "base.njk" %}
{% block content %}
    {% include "header.njk" %}
    <div class="container">
        <div class="row">
            <p>
                <a href="/questions/create" class="btn btn-primary" role="button">New question</a>
            </p>
        </div>
    </div>
{% endblock %}