{% set title="questions" %}
{% extends "base.njk" %}
{% block content %}
    {% include "header.njk" %}
    <div class="container">
        <div class="col">
            <div class="row">
                <p>
                    <a href="/questions/create" class="btn btn-primary" role="button">New question</a>
                </p>
            </div>
            <div class="row">
                <div class="mb-3">
                    {% for tag in allTags %}
                        <a
                            href="/questions/?{{ queryString }}{% if queryString %}&{% endif %}tags={{ tag | urlencode }}"
                            class="badge bg-{% if tag in tags %}primary{% else %}secondary{% endif %}"
                            role="button">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <nav aria-label="pages nav">
                <p class="mb-3">
                    {{ total }} results found.
                </p>
                <ul class="pagination">
                    <li class="page-item {% if page==1 %}disabled{% endif %}">
                        <a class="page-link" href="/questions/?{{ queryString }}&page={{ page-1 }}">Previous</a>
                    </li>
                    {% for p in range(startPaginate, endPaginate+1) %}
                        <li class="page-item">
                            <a class="page-link {% if page==p %}active{% endif %}" href="/questions/?{{ queryString }}&page={{ p }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if endPaginate>= total %} disabled {% endif %}">
                        <a class="page-link" href="/questions/?{{ queryString }}&page={{ page|int+1 }}">Next</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                {% for q in questions %}
                    <div class="question-card" style="">
                        <div class="question-body">
                            {{ q.body | safe }}
                        </div>
                        <div class="question-tags">
                            {% for tag in q.tags %}
                                <a
                                    href="/questions/?{{ queryString }}{% if queryString %}&{% endif %}tags={{ tag | urlencode }}"
                                    class="badge bg-primary"
                                    role="button">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <style>
        .question-card {
            width: 100%;
            max-width: 450px;
            height: auto;
            border: 1px solid lightgrey;
            overflow: hidden;
            margin-left
        }
        .question-body {
            height: auto;
            border-bottom: 1px lightgrey solid;
            margin-bottom: 5px;
        }
        .question-body img {
            width: 100%;
            height: auto;
        }
        .question-tags a {
            margin: 0 0 5px 5px;
        }
        a {
            text-decoration: none;
        }
    </style>
{% endblock %}