{% extends "base.njk" %}
{% block content %}
    <div class="container-fluid py-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>Register</h1>
            <form action="/register" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col">
                        <label for="inputName" class="form-label">First Name</label>
                        <input name="name" type="text" class="form-control" id="inputName" required>
                    </div>
                    <div class="col">
                        <label for="inputSurname" class="form-label">Surname</label>
                        <input type="text" name="surname" class="form-control" id="inputSurname" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputDateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" name="dateOfBirth" class="form-control" id="inputDateOfBirth" required>
                </div>
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="inputUsername" pattern="{{ schema.username.match.toString().slice(1,-1) }}" required>
                    <div class="invalid-feedback">
                        "{{ schema.username.message }}"
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
                     <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" pattern="{{ schema.password.match.toString().slice(1,-1) }}" required>
                    <div class="invalid-feedback">
                        "{{ schema.password.message }}"
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script src="validate.js">
{% endblock %}