.question-card {
    max-width: 380px;
    height: auto;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    margin: 0 0px 20px 0;
}
.question-body {
    height: auto;
    border-bottom: 1px lightgrey solid;
    margin-bottom: 5px;
}
.question-body img {
    max-width: 100%;
    height: auto;
}
.question-tags a {
    margin: 0 0 5px 5px;
}
a {
    text-decoration: none;
}
